<article
  class="flex lg:justify-center lg:items-center gap-x-3 mt-[2px] lg:mt-0"
>
  <a href="/">
    <img
      src="./imagenes/Navbar/spainFlag.svg"
      alt="Bandera de España"
      class="h-5 w-auto"
      id="spainFlag"
    />
  </a>

  <a href="/en">
    <img
      src="./imagenes/Navbar/usaFlag.svg"
      alt="Bandera de USA"
      class="h-[19px] w-auto"
      id="usaFlag"
    />
  </a>
</article>
