---
import SectionContainer from "./SectionContainer.astro";
import Title from "./Shared/Title.astro";
import ExperiencesData from "../utils/ExperiencesData.astro";
import ExperienceIcon from "../icons/ExperienceIcon.astro";

const { title } = Astro.props;
---

<SectionContainer>
  <aside
    id="experiencia"
    class="flex justify-center lg:justify-start items-center gap-x-2 mb-8 pt-12 mt-20"
  >
    <div>
      <ExperienceIcon
        class="dark:text-gray text-grayStrong size-9 lg:size-11"
      />
    </div>
    <Title className="text-4xl lg:text-5xl" title={title} />
  </aside>
  <header
    id="experienciaContenedor"
    class="flex min-h-[430px] overflow-x-auto overflow-y-hidden"
  >
    <ExperiencesData />
  </header>
</SectionContainer>
