---
import SectionContainer from "./SectionContainer.astro";
import Title from "./Shared/Title.astro";
import ProjectsData from "../utils/ProjectsData.astro";

import "swiper/css/bundle";

import ProjectsIcon from "../icons/ProjectsIcon.astro";

const { title } = Astro.props;
---

<SectionContainer>
  <div
    id="proyectos"
    class="flex justify-center lg:justify-start items-center gap-x-2 mb-8 pt-12 mt-20 lg:mt-32"
  >
    <ProjectsIcon class="dark:text-gray text-grayStrong size-10 lg:size-14" />
    <Title className="text-4xl lg:text-5xl" title={title} />
  </div>

  <ProjectsData />
</SectionContainer>
