---
import "@fontsource-variable/onest";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/imagenes/General/LogoAS.webp"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://as-work.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Portafolio de Antonio Silva | Desarrollador Front-end."
    />
    <meta
      property="og:description"
      content="Profesional en el diseño y desarrollo web de alto rendimiento, especializado en JavaScript, React y TailwindCSS"
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/documents/a1418d56-1bc9-40f8-a758-ab9a6692288d.png?token=_IZRxy81OlqCX6gTN9ZZzQB5D2sGBJ6vMMrrl9V4ctU&height=497&width=1200&expires=33241818551"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="as-work.vercel.app" />
    <meta property="twitter:url" content="https://as-work.vercel.app/" />
    <meta
      name="twitter:title"
      content="Portafolio de Antonio Silva | Desarrollador Front-end."
    />
    <meta
      name="twitter:description"
      content="Profesional en el diseño y desarrollo web de alto rendimiento, especializado en JavaScript, React y TailwindCSS"
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/documents/a1418d56-1bc9-40f8-a758-ab9a6692288d.png?token=_IZRxy81OlqCX6gTN9ZZzQB5D2sGBJ6vMMrrl9V4ctU&height=497&width=1200&expires=33241818551"
    />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>Copy To Clipboard Preview See how your website will look on social
  media platforms. This live preview ensures your metadata aligns with your
  content and branding. FACEBOOK AS-WORK.VERCEL.APP X (FORMERLY TWITTER)
  as-work.vercel.app LINKEDIN

  <title>{title}</title>

  <body class="dark h-full w-full overflow-x-hidden">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark light;
  }

  html {
    font-family: "Onest Variable", sans-serif;
    scroll-behavior: smooth;
  }

  @media (min-width: 1800px) {
    html {
      zoom: 1.4;
    }
  }

  @media (min-width: 2300px) {
    html {
      zoom: 1.8;
    }
  }
</style>

<script>
  let previousTitle = document.title;
  window.addEventListener("blur", () => {
    previousTitle = document.title;
    document.title = `😱 ¡No te vayas!`;
  });

  window.addEventListener("focus", () => {
    document.title = previousTitle;
  });
</script>
